<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708851838875-a5cv114dur004hogkcau530mmiq96jil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708851838875-a5cv114dur004hogkcau530mmiq96jil</string>
	<key>API_KEY</key>
	<string>AIzaSyDSP4bNsmxr9mDhIjKdMHDYaGCRBWnZfJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>708851838875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pracaInz</string>
	<key>PROJECT_ID</key>
	<string>praca-inzynierska-9b1d5</string>
	<key>STORAGE_BUCKET</key>
	<string>praca-inzynierska-9b1d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708851838875:ios:0e952107f21772e0abfb3e</string>
</dict>
</plist>